<script type="x-handlebars-template">
	<div class="tweet hidden-tweet" id="{{cid}}">
		<div class="img">
			<img src="{{tweet.user.profile_image_url}}"/>
		</div>
		<div class="tweet-wrapper">
			<div class="user-name">
				<a href="http://twitter.com/{{{tweet.user.screen_name}}}" Target="_blank"> {{tweet.user.name}}</a>
				<div class="location"> {{tweet.lp_geo.formatted_address}} </div>
			</div>
			<div class="followers-dist">
				<div class="followers">followers: {{tweet.user.followers_count}} </div>
				<div class="user-dist">{{tweet.dist_from_user}}</div>
			</div>
			<p class="tweet-text"> {{{tweet.text}}} </p>
		</div>
		<div class="reply">
			<textarea cols="40" rows="5" class="reply-input" placeholder="reply to @{{tweet.user.screen_name}}"></textarea>
			<button class="reply-button">tweet</button>
		</div>
	</div>
</script>
